<ion-view title="Configurações" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="configuraEs-form4" class="list">
      <label class="item item-input" id="configuraEs-textarea2" name="distanciamax">
        <span class="input-label">Max. Distância</span><textarea placeholder=""></textarea></label>
      <ion-item class="range range-stable" id="configuraEs-range3">
        <input type="range" value="50" min="0" max="161" step="1" name="Radius para filtrar distância máxima de eventos.">
      </ion-item>
      <label class="item item-select" id="configuraEs-select1">
        <span class="input-label">Horário</span>
        <select>
          <option>Manhã</option>
          <option>Tarde</option>
          <option>Noite</option>
          <option>Todos</option>
        </select>
      </label>
      <label class="item item-input" id="configuraEs-textarea3" name="participantesmax">
        <span class="input-label">Máx. de participantes</span><textarea placeholder=""></textarea></label>
      <ion-item class="range range-positive" id="configuraEs-range4">
        <input type="range" value="50" min="0" max="10" step="1" name="Radius para número máximo de participantes">
      </ion-item>
      <label class="item item-select" id="configuraEs-select2">
        <span class="input-label">Categoria</span>
        <select>
          <option></option>
          <option></option>
          <option></option>
        </select>
      </label>
    </form>
    <button id="configuraEs-button2" style="border-radius:10px 10px 10px 10px;" class="button button-stable button-block">Sair</button>
  </ion-content>
</ion-view>