<ion-view title="Login" id="page1" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/dTd1rGtTSfqfm14gNEIY_logo_migos.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <topo id="login-container4" class="creator-container"></topo>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="login-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="login-slide26" style="background:url(&quot;img/Z2cQSDEJT5Sym1QPTx88_slider_foto2.jpg&quot;) no-repeat center;background-size:cover;">
        <p align="right">
          <font color="#FFF" size="3">
            Conheça pessoas novas e interessantes pertos de você. Faça novos amigos! </font>
        </p>
      </ion-slide-page>
      <ion-slide-page id="login-slide24" style="background:url(&quot;img/xpNxrGCxQN6kaw6AMxdI_slider_foto1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="login-slide25" style="background:url(&quot;img/4LGMHR1lR62xcGAQFhkU_slider_foto3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <a ui-sref="feedDeEventos()" id="login-button1" style="font-weight:500;font-size:12px;border-radius:20px 20px 20px 20px;" class="button button-positive button-block">FAZER LOGIN COM FACEBOOK</a>
    <div id="login-container2">
      <div id="login-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:10px;">
          <strong>Não postaremos nada no Facebook.</strong>
        </p>
      </div>
    </div>
    <footer id="login-container3">
      <font size="1">
        <center>
          Ao continuar, você concorda com as
          <u>Políticas de privacidade</u> e
          <u>Termos de serviço</u>.

        </center>

      </font>
    </footer>
  </ion-content>
</ion-view>