page-login {
    ion-row{
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }

    ion-slides {
      height: 200px !important;
   }

   my-img{
    height: 70vh;
    width: auto;
    margin: auto;
    display: block;
  }
}
