<ion-view title="Chat" id="page4" style="">
  <ion-content padding="true" class="has-header">
    <div id="chat-container5">
      <form id="chat-form10" class="list">
        <ion-item class="item-avatar" id="chat-list-item34" style="">
          <img src="img/hNHnrNPMRBeWyZN6bC89_JlQiyAu.png">
          <h2>Receptor</h2>
          <p style="white-space:normal;">Aqui estará posicionada a mensagem do receptor.</p>
        </ion-item>
        <ion-item class="item-avatar" id="chat-list-item36" style="">
          <img src="img/hxFEozvRhWkdrTP9MRRl_facebook-grr-raiva-icone.png">
          <h2>Monique</h2>
          <p style="white-space:normal;">Aqui está a mensagem enviada.</p>
        </ion-item>
        <ion-item class="item-avatar item-icon-right" id="chat-list-item37" style="">
          <img src="img/hxFEozvRhWkdrTP9MRRl_facebook-grr-raiva-icone.png">
          <h2>Monique</h2>
          <p style="white-space:normal;">Problema ao enviar mensagem.</p>
          <i class="icon ion-alert icon-accessory"></i>
        </ion-item>
        <label class="item item-input item-stacked-label" id="chat-input2" name="textbox">
          <input placeholder="Digite aqui sua mensagem" type="text">
        </label>
      </form>
    </div>
    <button id="chat-button10" class="button button-stable button-block">Enviar</button>
  </ion-content>
</ion-view>