<ion-view title="Feed de Eventos" id="page6" style="">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-more-vertical"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card" id="feedDeEventos-card22">
      <div class=" item item-image">
        <img src="img/se8fcsM0T1OBaQzqL8A9_logo_evento_1.jpg" style="display: block; width: 95%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div id="feedDeEventos-button-bar2" class="button-bar">
        <a ui-sref="vingadores()" id="feedDeEventos-button19" class="button button-balanced button-block icon ion-ios-heart"> LIKE</a>
        <button id="feedDeEventos-button20" class="button button-assertive button-block icon ion-android-cancel"> DESLIKE</button>
      </div>
    </div>
  </ion-content>
</ion-view>