<ion-view title="Meus Eventos" id="page7" style="">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-more-vertical"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="meusEventos-list2">
      <ion-item class="item-thumbnail-left" id="meusEventos-list-item20" ui-sref="vingadores()" style="">
        <img src="img/kxPf1VmSRNOWMHrWE37h_logo_evento_1.jpg">
        <h2>Vingadores</h2>
        <p>25/04 às 23:59</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="meusEventos-list-item21" style="">
        <img src="img/arkHGZyzQIStaF3AbdoH_ASD.jpg">
        <h2>Stand Up: Léo Lins</h2>
        <p>30/05 às 20:00</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="meusEventos-list-item22" style="">
        <img src="img/bEp4wK1PRIK4cXlMW3u7_maxresdefault.jpg">
        <h2>Cover: The Beatles</h2>
        <p>22/04 às 23:00</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="meusEventos-list-item23" style="">
        <img src="img/n4iMWzJxSyembql5qm5q_images.jpeg">
        <h2>Japan Fest</h2>
        <p>21/04 às 19:00</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>