<ion-view title="Vingadores" id="page5" style="">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-more-vertical"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card" id="vingadores-card23">
      <p style="position: absolute; z-index: 3; color: #fff; margin-top: 20%; margin-left: 10%; padding-right: 10%; text-align: center;">
        Venha participar do nosso evento de cosplay... Prepare sua melhor fantasia dos vingadores! Estaremos todos reunidos para presenciar a derrota de Thanos (ou não!).
        <br>
        <br>
        <br> Data: 25/04
        <br> Horário: 23:59
        <br> Local: Marilia Shopping
      </p>
      <div class=" item item-image">
        <img src="img/8TT43djBRnapIgBv4vem_logo_evento_1.jpg" style="display: block; width: 95%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <a ui-sref="chat()" id="vingadores-button16" class="button button-positive button-block">Participar</a>
    </div>
  </ion-content>
</ion-view>