page-info-evento {

    .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
          width: 100%;
          height: 90%;
          margin: 0%;

        }
        
        #img-evento{
            width: 100%;
            height: 100%;
        }

      
        .card-title {
          position: absolute;
          top: 36%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #fff;
          background-color:rgba(0,0,0,0.6);
        }
        
        .scroll-content{
            padding: 0% !important;
        }
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          width: 100%;
          color: #fff;
          background-color:rgba(0,0,0,0.4);
        }



        #descricao{
          top: 55%;
        }
        #local{
          top: 60%;
        }
        #datahora{
          top: 65%;
        }
        #participantes{
          top: 70%;
        }
      }
}
