<ion-content>

  <ion-list no-lines>
    <button ion-item icon-right detail-none menuClose="user-menu" (click)="onInicio()">
      Inicio
    </button>
    <button ion-item icon-right detail-none menuClose="user-menu" (click)="onEvento()">
      Eventos
    </button>
    <button ion-item icon-right detail-none menuClose="user-menu" (click)="onConfiguracao()">
      Configurações
    </button>
    <button ion-item icon-right detail-none menuClose="user-menu" (click)="onSair()">
      Sair
    </button>
  </ion-list>

</ion-content>